# strava_flutter specific
secret.dart
todo.txt
# temp 

.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
example/.flutter-plugins
example/pubspec.lock
example/android/*
example/ios/*
